 .cm-s-app {
     font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
     font-size: 0.9rem;
 }

 .CodeMirror-hints.app {
     font-family: "Source Sans Pro", monospace;
 }