.is-main-panel {
    width: 250px;
    padding-left: 10px;
}

.is-rest {
    background: #ffffff;
}

.main-panel {
    position: sticky;
    top: 0px;
    padding: 10px 0;
}

.main-panel .app-logo {
    width: 150px;
    height: 150px;
    background-image: url("logo.png");
}

.main-panel .compose {
    padding: 10px 10px;
}

.main-panel .compose .button {
    color: #F6F7F7;
    font-size: 14px;
    font-weight: 700;
}

.main-panel .notes-list {
    color: #6F7B7E;
    padding-left: 10px;
}

.main-panel .notes-list .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E;
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px; 
}

.main-panel .notes-list .item:hover {
    background-color: #f1f1f1;    
    border-bottom-left-radius: 4px; 
}

.main-panel .notes-list .item-active {
    background-color: #ffffff;
}

.main-panel .notes-list .name {
    font-size: 15px;
    padding: 0 10px;
    color: #5D5D5D;
    font-weight: 500;
}